

<body class = container-fluid>
    <h1><%=@recipe.title.capitalize%> Recipe</h1>

    <div class = 'row'>
        <div class = 'col-2'>
            <a href = '/index/<%=session[:user_id]%>'><button class = 'btn btn-primary' style = 'margin-bottom: 5px;'>Return to user page</button></a>
        </div>
        <div class = 'col-1'>
            <a href = "/recipes/<%=@recipe.id%>/edit"><button class = 'btn btn-primary'>Edit</button></a>
        </div>
        <div class = 'col-1'>
            <form method = 'POST' action = "/delete/<%=@recipe.id%>">
                <input type = 'hidden' name = '_method' value = 'DELETE'>
                    <button class = 'btn btn-danger'>Delete</button>
            </form>
        </div>
    </div>
    <hr>
    <div class = 'row'>
        <div class= 'col'>
            <table class = 'table'>
                <tr>
                    <th>Title</th>
                    <th>Category</th>
                </tr>
                <tr>
                    <td><%=@recipe.title.capitalize%></td>
                    <td><%=@recipe.category.capitalize%></td>
                </tr>
            </table>
        </div>
    </div><br>
    <div class = 'row'>   
        <div class = 'col-5' style = "min-width: 100px;">
            <h4>Ingredients</h4>
        
                <table class = 'table' style = 'text-align: center;'>
                    <tr class>
                        <th width="25%">Name</th>
                        <th width="25%">Category</th>
                        <th width="25%">Quantity</th>
                        <th width="25%">Units</th>
                    </tr>
            <% @recipe.ingredients.each do | ingredient |%>
                <table class = 'table' style = 'text-align: center;'>
                    <tr>
                        <td width="25%"><%=ingredient.name.capitalize%></td>
                        <td width="25%"><%=ingredient.category.capitalize%></td>
                        <td width="25%"><%=ingredient.quantity%></td>
                        <td width="25%"><%=ingredient.units.capitalize%></td>
                    </tr>
                </table>
            <%end%> 
        </div>
        <div class = 'col-1'>
        </div>
        <div class = 'col-6 ' style = "min-width: 100px;">
            <h4>Recipe Steps</h4>
            <ol class = 'table'>
                <% @recipe.steps.each do | step |%>
                    <li><%=step.description.capitalize%></li>
                <%end%> 
            </ol> 
        </div>
    </div>
    


</body>