

<body class = container-fluid>
    <h1><%=@recipe.title.capitalize%> Recipe</h1>
    <div>
        <a href = "/recipes/<%=@recipe.id%>/edit"><button class = 'btn btn-primary'>Edit</button></a>
        <form method = 'POST' action = "/delete/<%=@recipe.id%>">
            <input type = 'hidden' name = '_method' value = 'DELETE'>
                <button class = 'btn btn-danger'>Delete</button>
        </form>
    </div>
    <hr>
    <div class = 'row'>
        <div class= 'col'>
            <table class = 'table'>
                <tr>
                    <th>Title</th>
                    <th>Category</th>
                </tr>
                <tr>
                    <td><%=@recipe.title.capitalize%></td>
                    <td><%=@recipe.category.capitalize%></td>
                </tr>
            </table>
        </div>
    </div><br>
    <div class = 'row'>   
        <div class = 'col-5'>
            <% @recipe.ingredients.each do | ingredient |%>
                <table class = 'table'>
                    <tr class>
                        <th>Name</th>
                        <th>Category</th>
                        <th>Quantity</th>
                        <th>Units</th>
                    </tr>
                    <tr>
                        <td><%=ingredient.name.capitalize%></td>
                        <td><%=ingredient.category.capitalize%></td>
                        <td><%=ingredient.quantity%></td>
                        <td><%=ingredient.units.capitalize%></td>
                    </tr>
                </table> 
            <%end%> 
        </div>
        <div class = 'col-1'>
        </div>
        <div class = 'col-6'>
            <% @recipe.steps.each do | step |%>
                <h4>Recipe Steps</h4>
                <ol class = 'table'>
                    <li><%=step.description.capitalize%></li>
                </ol> 
            <%end%> 
        </div>
    </div>
    </div>
    


</body>