

<body class = 'container-fluid'>
    <h1>Edit <%=@ingredient.name.capitalize%></h1><br>
    <hr>
    <form method = 'POST' action = '/ingredients/<%=@ingredient.id%>'>
        <input type = 'hidden' name = '_method' value = 'PATCH'>
            <div>
                <label>Name</label>
                <input class = 'form-control' type = 'text' name = 'name' value = '<%=@ingredient.name%>'>
            </div>
            <div>
                <label>Category</label>
                <input class = 'form-control' type = 'text' name = 'category' value = '<%=@ingredient.category%>'>
            </div>
            <div>
                <label>Quantity</label>
                <input class = 'form-control' type = 'text' name = 'quantity' value = '<%=@ingredient.quantity%>'>
                <button style = "margin-top: 5px; margin-bottom: 5px;"><%= link_to "-", "/ingredients/#{@ingredient.id}/quantity/decrement" %></button>
                <button style = "margin-top: 5px; margin-bottom: 5px;"><%= link_to "+", "/ingredients/#{@ingredient.id}/quantity/increment" %></button>
            </div>
            <div>
                <label>Units</label>
                <input class = 'form-control' type = 'text' name = 'units' value = '<%=@ingredient.units%>'>
            </div><br>

            <button class = 'btn btn-primary'>Finalize Edits</button>
    </form>


</body>