

<body class = 'container-fluid' style = 'background: yellow'>
    <h1>Edit <%=@ingredient.name.capitalize%></h1><br>
    <p><%=@errors%></p>
    <hr>
    <form method = 'POST' action = '/ingredients/<%=@ingredient.id%>'>
        <input type = 'hidden' name = '_method' value = 'PATCH'>
            <div>
                <label>Name</label>
                <input class = 'form-control' type = 'text' name = 'name' value = '<%=@ingredient.name%>'>
            </div>
            <div>
                <label>Category</label>
                <input class = 'form-control' type = 'text' name = 'category' value = '<%=@ingredient.category%>'>
            </div>
            <div >
                <label>Quantity</label>
                <input class = 'form-control' type = 'text' name = 'quantity' value = '<%=@ingredient.quantity%>'>
                <div style = 'margin-top:10px; margin-left: 20px; margin-bottom: 15px;'>
                    <a href= "/ingredients/<%=@ingredient.id%>/quantity/decrement"><button class = 'btn btn-primary'>Decrease</button></a>
                    <a href= "/ingredients/<%=@ingredient.id%>/quantity/increment"><button class = 'btn btn-primary'>Increase</button></a>
                </div>
                
            </div>
            <div>
                <label>Units</label>
                <input class = 'form-control' type = 'text' name = 'units' value = '<%=@ingredient.units%>'>
            </div><br>

            <button class = 'btn btn-primary'>Finalize Edits</button>
    </form>


</body>