<h1><%=@user.first_name%> <%=@user.last_name%>'s Dashboard</h1>
<hr>
<br>

<div>
    <a href="/recipe/new"><button>Create New Recipe</button></a>
    <form method="POST" action="/search-user">
        <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
        <input type="text" name="user[username]" placeholder="Search User">
    <form>
</div>

<ul>
    <%@user.recipes do |recipe|%>
        <li><label>Title:</label><%=recipe.title%><label> Category:</label><%=recipe.category%></li>
    <%end%>
</ul>